@import './global';
body{
  height: 100vh;
}
.mainContainer{
  @include main-container-add-all;
  justify-content: center;
}

.cardContainer{
  @include task-container-all-add;
  margin-bottom: 5%;
 min-height: fit-content;
  min-width: 70%;
  padding: 1%;

}


.inputStyle{
 @include input-description-add-task;
}

.inputStyle input:focus{
  outline-color: white;
  background-color: gba(255, 241, 230, 0.158);
  color: white
}

.btnContainer{ 
   color:rgb(7, 4, 19);
  display: flex;
  justify-content: space-around;


}

.button{
  color: var(--main-dark-color);
  margin-top: 3%;
  font-size: 2.6em;
  border-radius: 5%;
  cursor: pointer;

}


.button:hover{
  padding: 0% 2% 0% 2%;
  color: var(--main-dark-color);
  margin-top: 3%;
  font-size: 2.7em;
  cursor: pointer;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.356);

}

.phraseContainer{
 height: 20%;
 font-family: 'Montserrat', sans-serif;
font-size: 0.8em;
letter-spacing: 3.6px;
word-spacing: -1.2px;
color: var(--main-light-color);
font-weight: bold;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;

}


.noTitle{
  border: 2px solid red;
}


.backToAll{
@include footer-add-all;
  left: 2%;
}

 .backToAll a{
  color: $mainTextColor;
 }

.backToAll a:hover{
  text-decoration: none;
}



@media only screen and (max-width: 600px){
  .mainContainer{
    height: 100vh;
    justify-content: flex-start;

  }
  .cardContainer{
    @include task-container-all-add;
     margin-bottom: 1%;
     margin-top: 10%;
     width: 80%;
     height: 80%;
     padding: 1%;
     width: 90%;
     display: flex;
     align-items: center;
    }
  .cardContainer label{
    text-align: center;
    margin: 0%;

  }
  .inputStyle{
    @include input-description-add-task;
    height: 10%;
    margin: 2%;
    width: 90%;
    padding: 0%;
  }
  .inputStyle #title{
    border: 2px solid red;
    height: 10%;
  }

 .btnContainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
 }
 
.button:hover{
  padding: 0% 2% 0% 2%;
  color: var(--main-dark-color);
  margin-top: 3%;
  font-size: 2.7em;
  cursor: pointer;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.356);

}
}